RewriteEngine on

# 301-Redirects fuer umbenannte Seiten
RewriteRule ^kuenstliche-intelligenz/?$ /ki-risiken [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php