/*
    Name: Funk Global Risk Consensus
    Description: Funk Global Risk Consensus 
    Version: 1.0
    Author: Schwizer Design GmbH
    Author URI: http://schwizerdesign.ch
*/

:root {
  --funkblue: #005092;
  --funkgreen: #75B845;
  --funkgrey: #7F7F7F;

  --fontsmall: 18px;
  --fontmedium: 24px;
  --fontlarge: 50px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 10px 30px;
  padding: 0;
}

/*----------------------------------
  Font
-----------------------------------*/
h1, h2, h3, a, li {
  font-family: 'Noto Serif', serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
}
p  {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
}

h1 {
  font-size: var(--fontlarge);
  line-height: 100%; 
  margin-top: 0;
}


h2 {
  font-size: var(--fontmedium);
  line-height: 125%;
  margin: 0 0 30px;
  hyphens: auto;
  -webkit-hyphens: auto;
}

p, a, li { 
  font-size: var(--fontsmall);
  line-height: 125%;
  margin: 0;  
}

a {
  font-size: var(--fontsmall);
  display: inline-block;
  text-decoration-line: none;
  transition: color 0.25s ease-in-out;
}

/*----------------------------------
  Navigation
-----------------------------------*/


nav {
  justify-content: space-between;
  border-bottom: #7F7F7F solid 1px;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li, nav a {
  color: #7F7F7F;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  width: 100%;
  text-align: center;
}

li:first-child {
  text-align: left;
}

li:last-child {
  text-align: right;
}