/*
    Name: Funk Global Risk Consensus
    Description: Funk Global Risk Consensus 
    Version: 1.0
    Author: Schwizer Design GmbH
    Author URI: http://schwizerdesign.ch
*/

:root {
  --funkblue: #005092;
  --funkgreen: #75B845;
  --funkgrey: #7F7F7F;
  --funkgreenlight: #9aa8a4;
  --funkbackground: #F6F6F6;

  --fontsmall: 18px;
  --fontbutton: 16px;
  --fontmedium: 24px;
  --fontlarge: 22px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--funkbackground);
}

/*----------------------------------
  Font
-----------------------------------*/
h1, h2, h3, a, li {
  font-family: 'Noto Serif', serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
}
p, button  {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
}

h1 {
  font-size: var(--fontlarge);
  line-height: 130%; 
  margin-top: 0;
}


h2 {
  font-size: var(--fontmedium);
  color: #474747;
  line-height: 125%;
  margin: 0 0 30px;
  hyphens: auto;
  -webkit-hyphens: auto;
}

p, a, li, button { 
  font-size: var(--fontbutton);
  line-height: 125%;
  margin: 0; 
  color: #474747; 
}

a {
  font-size: var(--fontsmall);
  display: inline-block;
  text-decoration-line: none;
  transition: color 0.25s ease-in-out;
}

/*----------------------------------
  Navigation
-----------------------------------*/

nav {
  justify-content: space-between;
  background-color: var(--funkblue);
  padding: 15px 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav li, nav a {
  color: white;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  width: 100%;
  text-align: center;
}

li:first-child {
  text-align: left;
}

li:last-child {
  text-align: right;
}

/*----------------------------------
  Navigation Years
-----------------------------------*/

.navyears {
  position: fixed;
  top: 52px;
  left: 0;
  padding: 15px 15px 0 25px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: var(--funkbackground);
}

button {
  background-color: white;
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  color: #3C3C3B;
  cursor: pointer;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1); 
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  transition: background-color 0.5s ease ;
}

button.active {
  background-color: var(--funkblue);
  color: white;
}

button:hover {
  background-color: #e7e7e7;
}

.menu {
  width: 50px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 10px 10px 0;
  width: 100%;
}

.buttons::-webkit-scrollbar {
  display: none;
}

.arrow-button {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  z-index: 1;
  display: none;
}



/*----------------------------------
  Start
-----------------------------------*/

.riskseventstrends {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin: 200px 20px 80px 80px;
}

.contentrisks {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
}

.contentevent {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
}

.contentrisks h2,
.contentevent h2 {
  padding-left: 15px;
  margin: 0;
}


.risks {
  display: flex;
  position: sticky;
  top: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.risk, .event, .trend {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1); 
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.risk {
  width: calc(50% - 20px);
}
.risk:hover {
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3); 
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
}
.event {
  background-color: var(--funkgreenlight);
}

.riskimg, .eventimg {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 120px;
}

.risktitle, .eventtitle {
  height: 100px;
  display: flex;
  align-items: flex-end;
  padding: 25px 20px;
}

.risktitle h1, .eventtitle h1 {
  margin: 0;
}
.eventtitle h1 {
  color: white;
}

.risk img, .event img {
  width: 100%;
  min-height: 150px;
  display: inherit;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/*----------------------------------
  Footer
-----------------------------------*/
.holder {
  width: 100%;
  height: 500px;
  background-color: #9aa8a4;
}

/*----------------------------------
  Responsiv
-----------------------------------*/


@media (max-width: 700px) {
  .arrow-button { 
    display: inline-block;
  }

  .buttons {
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px;
  }
}