/*
    Name: Funk Global Risk Consensus
    Description: Funk Global Risk Consensus 
    Version: 1.0
    Author: Schwizer Design GmbH
    Author URI: http://schwizerdesign.ch
*/

:root {
  --funkblue: #005092;
  --funkgreen: #75B845;
  --funkgrey: #7F7F7F;
  --funkbackground: #F6F6F6;

  --fontsmall: 18px;
  --fontbutton: 16px;
  --fontmedium: 24px;
  --fontlarge: 30px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--funkbackground);
}

/*----------------------------------
  Font
-----------------------------------*/
h1, h2, h3, a, li {
  font-family: 'Noto Serif', serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
}
p, button  {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
}

h1 {
  font-size: var(--fontlarge);
  line-height: 100%; 
  margin-top: 0;
}


h2 {
  font-size: var(--fontmedium);
  color: #474747;
  line-height: 125%;
  margin: 0 0 30px;
  hyphens: auto;
  -webkit-hyphens: auto;
}

p, a, li, button { 
  font-size: var(--fontbutton);
  line-height: 125%;
  margin: 0;  
}

a {
  font-size: var(--fontsmall);
  display: inline-block;
  text-decoration-line: none;
  transition: color 0.25s ease-in-out;
}

/*----------------------------------
  Navigation
-----------------------------------*/


nav {
  justify-content: space-between;
  border-bottom: #7F7F7F solid 1px;
  padding: 10px 5px;
  position: fixed;
  top: 0;
  width: calc(100% - 60px);
  margin: 10px 30px;
  left: 0;
}

nav li, nav a {
  color: #7F7F7F;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  width: 100%;
  text-align: center;
}

li:first-child {
  text-align: left;
}

li:last-child {
  text-align: right;
}

/*----------------------------------
  Navigation Years
-----------------------------------*/

.navyears {
  position: fixed;
  top: 60px;
  left: 0;
  margin: 0 25px;
  width: calc(100% - 50px) ;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: var(--funkbackground);
}

button {
  background-color: white;
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  color: #3C3C3B;
  cursor: pointer;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1); 
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  transition: background-color 0.5s ease ;
}

button.active {
  background-color: var(--funkblue);
  color: white;
}

button:hover {
  background-color: #e7e7e7;
}

.menu {
  width: 50px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 10px 10px 0;
  width: 100%;
}

.buttons::-webkit-scrollbar {
  display: none;
}

.arrow-button {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  z-index: 1;
  display: none;
}



/*----------------------------------
  Start
-----------------------------------*/

.container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin: 150px 50px;
}

.containerrisksevent {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 60px;
}

.contentrisks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}

.contentrisks h2,
.contentevent h2 {
  padding-left: 15px;
  margin: 0;
}


.contentevent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}

.risks, .events {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.risk, .event, .trend {
  background-color: #ffffff;
  border-radius: 10px;
  height: 120px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1); 
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
}

.risk img, .event img {
  width: 100%;
  min-height: 150px;
  display: inherit;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  
  transition: all 0.5s ease ;
}

.risk img:hover {
  
}

.risk h1, .event h1 {
  position: absolute;
  top: 0px;
  padding: 20px;
  color: #ffffff;
}



/*----------------------------------
  Responsiv
-----------------------------------*/


@media (max-width: 700px) {
  .arrow-button { 
    display: inline-block;
  }

  .buttons {
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px;
  }
}